.card{
    border-radius: 10px;
    border-width: 2px;
    border-color: white;
    padding: 5px;
    margin-bottom: 3px;
}

.followbtn:hover {
    background-color: white;
    border: 5px solid blue;
    color: black;

}

.followbtn {
    border: 3px solid white;
    border-radius: 5px;
    padding: 5px;
}


