.list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-item {
    display: flex;
    flex-direction: row;
}

.delete-button {
    display: inline-block;
    background-color: red;
    color: white;
    margin-left: 10%;
}